/* NAME: Adam Patrick */

html body {
    font-size: 16px;
    background-image: url("hero.jpg");
    background-repeat: round;
    height: 50%;
}

ul {
    list-style-type: none;
    display: inline-block;
}

li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

/* .main {
    background-image: url("hero.jpg");
    height: 50%;
    width: 75%;
    margin: auto;
} */

/* .backgroundImage {
    width: 75%;
} */

.navbar{
    background: linear-gradient(#818181, #626262);
    margin: auto;
    width: 65%;
    text-align: center;
    border-radius: 15px;
    color: white;
}

.imageContainer{
    display: flex;
    width: 75%;
    border: solid 1px red;
    margin: auto;
    margin-top: 500px;
}

.image{
    height: 200px;
    width: 25%;
}

.img1{
    background-image: url("harbor.jpg");
}

.img2{
    background-color: blue;
}

.img3{
    background-color: green;
}

.img4{
    background-color: yellow;
}